@model ForgetPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Yinka Enoch Adedokun">
    <meta name="description" content="Simple Forgot Password Page Using HTML and CSS">
    <meta name="keywords" content="forgot password page, basic html and css">
    <title>Forgot Password Page - HTML + CSS</title>
    <link href="~/css/forget.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <h1>Şifre Yenileme Sayfası</h1>
        <h6 class="information-text">E-Posta adresinizi giriniz.</h6>
        <form method="post">
            <div class="form-group">
                <input type="email" asp-for="Mail" id="user_email">
                <p><label for="username">E-Posta</label></p>
                <button onclick="showSpinner()">Şifre Yenileme Linkini Gönder.</button>
            </div>
        </form>
        <div class="footer">
            <h5>Yeni Misin? <a href="/Login/SignUp/">Kayıt ol!.</a></h5>
            <h5>Zaten Bir Hesabın Var Mı? <a href="/Login/SignIn/">Giriş Yap!</a></h5>
            <p class="information-text"><span class="symbols" title="Lots of love from me to YOU!">&hearts; </span><a href="/Default/Index/" target="_blank" title="Connect with me on Facebook">Traversal Core Proje</a></p>
        </div>
    </div>
</body>
</html>
