<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Destination/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-trip"></i>
            <div data-i18n="Analytics">Tur Rotaları</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Comment/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Analytics">Yorumlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/User/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-check"></i>
            <div data-i18n="Analytics">Misafiler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/ContactUs/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message-rounded-dots"></i>
            <div data-i18n="Analytics">Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Guide/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-voice"></i>
            <div data-i18n="Analytics">Rehberler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-layout"></i>
            <div data-i18n="Layouts">Raporlar</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/PdfReport/Index" class="menu-link">
                    <div data-i18n="Without menu">Pdf Raporları</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/Excel/Index" class="menu-link">
                    <div data-i18n="Without navbar">Excel Raporları</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-pie-chart-alt-2"></i>
            <div data-i18n="Analytics">Öne Çıkanlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-layer-plus"></i>
            <div data-i18n="Analytics">Referanslar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-cylinder"></i>
            <div data-i18n="Analytics">Alt Hakkında</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-folder-open"></i>
            <div data-i18n="Analytics">Rezervasyonlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx bx-mail-send"></i>
            <div data-i18n="Layouts">E-Posta İşlemleri</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/Mail/Index" class="menu-link">
                    <div data-i18n="Without menu">E-Posta Gönder</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <div data-i18n="Without navbar">E-Posta Listesi</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-pie-chart-alt"></i>
            <div data-i18n="Analytics">Öne Çıkanlar 2</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-key"></i>
            <div data-i18n="Analytics">Şifre İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-terminal"></i>
            <div data-i18n="Analytics">Rol İşlemleri</div>
        </a>
    </li>
</ul>
