@model CreateGuideCommand

@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mb-4">
    <h5 class="card-header">Yeni Rehber Oluşturma Sayfası</h5>
    <form method="post">
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">İSİM SOYİSİM :</label>
                <input class="form-control"
                       type="text"
                       asp-for="Name"
                       placeholder="Rehberin ismi ve soyismi nedir?" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">AÇIKLAMA :</label>
                <input class="form-control"
                       type="text"
                       asp-for="Description"
                       placeholder="Rehber hangi bölgelere tur düzenliyor?" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">GÖRSEL :</label>
                <input class="form-control"
                       type="text"
                       asp-for="Image"
                       placeholder="Rehberin görselini seçiniz." />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <button class="btn btn-outline-info col-12">Rehberi Oluştur!</button>
        </div>
    </form>
</div>


