<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikleriniz</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            @*<div class="heading-elements">
            <span class="avatar">
            <img src="~/member/theme-assets/images/portrait/small/avatar-s-2.png" alt="avatar">
            </span>
            <span class="avatar">
            <img src="~/member/theme-assets/images/portrait/small/avatar-s-3.png" alt="avatar">
            </span>
            <span class="avatar">
            <img src="~/member/theme-assets/images/portrait/small/avatar-s-4.png" alt="avatar">
            </span>
            </div>*@
        </div>
        <div class="card-content">
            <div class="card-body">
                <p class="card-text">Traversal Rezervasyon Web uygulamasının kullanıcı Dashboard panelinde bulunmaktasınız. Aşağıda sizin ve acentamızın bası istatistik bilgileri yer almaktadır. Bu istatistiklerin sizlerle beraber artmasını temenni ediyoruz. Gezi dolu daha nice günde buluşmak üzere...</p>
                <h4 class="card-title">----------------</h4>
                <p class="card-text">Aktif Rezervasyon Sayınız : 4</p>
                <p class="card-text">Onay Bekleyen Rezervasyon Sayınız : 4</p>
                <p class="card-text">Geçmiş Rezervasyon Sayınız : 4</p>
                <p class="card-text">Toplam Rota Sayısı : 4</p>
                <p class="card-text">Rehber Sayısı : 4</p>
                <p class="card-text">Toplam Misafir Sayım.ız : 4</p>
                <p class="card-text">Ortalama Puanımız : 8.97/10
            </div>
        </div>
    </div>
</div>
