@model TraversalCoreProje.Models.MailRequest
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mb-4">
    <h5 class="card-header">Yeni Mail Gönderme Sayfası</h5>
    <form method="post">
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">ALICI E-POSTA ADRESİ :</label>
                <input class="form-control"
                       type="email"
                       asp-for="ReceiverMail"
                       placeholder="Alıcının E-posta adresini giriniz." required />
            </div>
            <div class="mb-3">
                <label class="form-label">KONU BAŞLIĞI :</label>
                <input class="form-control"
                       type="text"
                       asp-for="Subject"
                       placeholder="E-postanın konu başlığını giriniz." required />
            </div>
            <div class="mb-3">
                <label class="form-label">MESAJ İÇERİĞİ :</label>
                <textarea class="form-control" rows="5"
                          type="text"
                          asp-for="Body"
                          placeholder="E-postanın mesaj içeriğini giriniz." required></textarea>
            </div>
            <button class="btn btn-outline-primary col-12">E-Posta Gönder!</button>
        </div>
    </form>
</div>


