@model IEnumerable<BookingExchangeViewModel2.Exchange_Rates>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="card">
    <h5 class="card-header">Booking Kur Bilgileri (APİ)  </h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>KUR ADI</th>
                    <th>KUR ORANI</th>
                </tr>
            </thead>

            <tbody class="table-border-bottom-0 text-center">
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.currency</strong></td>
                        <td>@item.exchange_rate_buy</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

