@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card table-border-bottom-0 text-center">
    <h5 class="card-header">Pdf Rapor Sayfası  </h5>
    <div class="table-responsive text-nowrap">
        <a href="/Admin/PdfReport/StaticPdfReport/" class="btn btn-outline-info col-12 mb-2">Statik Pdf Raporu</a><br />
        <a href="/Admin/PdfReport/StaticCustomerReport/" class="btn btn-outline-primary col-12 mb-2">Statik Misafir Pdf Raporu</a>
    </div>
</div>

