@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card table-border-bottom-0 text-center">
    <h5 class="card-header">Excel Rapor Sayfası  </h5>
    <div class="table-responsive text-nowrap">
        <a href="/Admin/Excel/StaticExcelReport/" class="btn btn-outline-info col-12 mb-2">Statik Excel Raporu</a><br />
        <a href="/Admin/Excel/DestinationExcelReport/" class="btn btn-outline-primary col-12">Tur Rotaları Excel Raporu</a>
    </div>
</div>