@model VisitorViewModel

@{
    ViewData["Title"] = "UpdateVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mb-4">
    <h5 class="card-header">Ziyaretçi Güncelleme Sayfası (Api)</h5>
    <form method="post">
        <input type="hidden" asp-for="VisitorID" />
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">İSİM :</label>
                <input class="form-control"
                       type="text"
                       asp-for="Name"
                       placeholder="Ziyaretçinin ismi nedir?" />
            </div>
            <div class="mb-3">
                <label class="form-label">SOYİSİM :</label>
                <input class="form-control"
                       type="text"
                       asp-for="Surname"
                       placeholder="Ziyaretçinin soyismi nedir?" />
            </div>
            <div class="mb-3">
                <label class="form-label">E-POSTA :</label>
                <input class="form-control"
                       type="text"
                       asp-for="Mail"
                       placeholder="Ziyaretçinin e-postası nedir?" />
            </div>
            <div class="mb-3">
                <label class="form-label">ŞEHİR :</label>
                <input class="form-control"
                       type="text"
                       asp-for="City"
                       placeholder="Ziyaretçinin yaşadığı şehir neresidir?" />
            </div>
            <div class="mb-3">
                <label class="form-label">ÜLKE :</label>
                <input class="form-control"
                       type="text"
                       asp-for="Country"
                       placeholder="Ziyaretçinin yaşadığı ülke neresidir?" />
            </div>
            <br />
            <button class="btn btn-outline-info col-12">Ziyaretçiyi Güncelle!</button>
        </div>
    </form>
</div>


